<div class="page-wrapper">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">     
          <div class="login-card">
            <div>
             
              <div class="login-main"> 
                <!-- <form class="theme-form" [formGroup]="form">
                  <h4>Reset Your Password</h4>
                  <div >
                    <label class="col-form-label">New Password</label>
                    <input class="form-control" [type]="show ? 'text' : 'password'" formControlName="password" name="login[password]" required="" placeholder="*********">
                    <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                    <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>

                
                    <div>
                        <p class="errors" *ngIf="form.controls.password.errors.required" style="color: red;">
                            Password is required.</p>
                        <p class="errors" *ngIf="form.controls.password.errors.invalidPassword" style="color: red;">
                            Password is atleast 8 characters,contain one capital and one special character atleast.</p>
                    </div>
                  </div>
                  <div >
                    <label class="col-form-label">Retype Password</label>
                    <input class="form-control" type="password" formControlName="confirmPassword" required="" placeholder="*********">
                    <div *ngIf="form.hasError('passwordMismatch') &&  form.controls.confirmPassword.touched">
                        <p class="errors" style="color: red;">Passwords do not match.</p>
                      </div>
                  </div>
                  <div class=" mb-0">
                    <button class="btn btn-primary d-block w-100" (click)="resetpassword()">Done</button>
                  </div>
                  
                  
                
                </form> -->
                <form class="formg" [formGroup]="resetForm">
                    <div>
                        <label class="email text-start m-2 mt-3">Current Password</label>
                        <div class="password-input">
                            <input class="form-control"
                              type="password"
                              placeholder="Enter your current password"
                              formControlName="currentPassword"
                              name="currentPassword"
                              >
                        </div>
                    </div>
                    <div *ngIf="resetForm.controls.currentPassword.invalid && (resetForm.controls.currentPassword.dirty || resetForm.controls.currentPassword.touched)">
                        <p class="errors text-danger" *ngIf="resetForm.controls.currentPassword.errors.required">
                            Current password is required.</p>
                    </div>

                    <div>
                        <label class="email text-start m-2 mt-3">New Password</label>
                        <div class="password-input">
                            <input class="form-control"
                              type="password"
                              placeholder="Enter your password"
                              formControlName="password"
                              name="password"
                              >
                        </div>
                        
                    </div>
                    <div  *ngIf="resetForm.controls.password.invalid && (resetForm.controls.password.dirty || resetForm.controls.password.touched)">
                        <p class="errors text-danger" *ngIf="resetForm.controls.password.errors.required">
                            Password is required.</p>
                        <p class="errors text-danger" *ngIf="resetForm.controls.password.errors.invalidPassword">
                            Password is atleast 8 characters,contain one capital and one special character atleast.</p>
                    </div>
                    <div style="height:76px;margin-bottom:18px">
                        <label class="email text-start m-2 mt-3">Confirm Password</label>
                        <div class="password-input">
                            <input class="form-control"
                              type="password"
                              placeholder="Enter your password"
                              formControlName="cnpassword"
                              name="password"
                              >
                          </div>
                          <div
                          *ngIf="resetForm.controls.cnpassword.invalid && (resetForm.controls.cnpassword.dirty || resetForm.controls.cnpassword.touched)">
                          <p class="errors text-danger" *ngIf="resetForm.controls.cnpassword.errors.required">
                             Confirm Password is required.</p> 
                          </div>
                          <div *ngIf="resetForm.hasError('passwordMismatch') && (resetForm.get('cnpassword').dirty || resetForm.get('cnpassword').touched)">
                            <p class="errors text-danger">Passwords do not match.</p>
                          </div>
                          
                    </div>
                   

                <button  class=" btn btn-md btn-primary centered mt-2" style="cursor: pointer;"
                
                [disabled]="!resetForm.valid" (click)="resetpassword(resetForm.value)">Reset Password</button>
                </form>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>