<div class="container-fluid d-flex justify-content-center align-items-center vh-100" *ngIf="!changerequestdata?.length">
    <img src="../../../../../../assets/images/no data.gif" alt="No Data" height="300" width="300" class="img-fluid">
  </div>
  <div class="container-fluid pt-1" *ngIf="changerequestdata?.length">
    <div class="row mt-5" >
        <div class="col-lg-4" *ngFor="let item of changerequestdata">
            <div class="card" style="border: 1px solid #E1E6EF; cursor: pointer;" (click)="onviewdeails(item,content)">
                <div class="card-header"
                    style="padding: 8px; border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="row">
                        <div class="col-6 text-left">
                            <p class="eventvenuename"><strong>{{item.createdByName}}</strong> </p>
                        </div>
                        <div class="col-6 text-end" *ngIf="item.eventTimeIdslist!=null">
                            <span class="badge" style="background-color: #0162DD;">{{item.eventTimeIdslist[0].eventTimeName}}</span>
                            <!-- <span class="badge" style="background-color: #d2e1f4 ; color:#0162DD ;" *ngIf="item.eventTimeIdslist.length >1 " >+{{ item?.eventTimeIdslist?.length-1 }}</span> -->
                            <span class="badge badge-xs badge-light-success" *ngIf="item.eventStatusId==2 " ><img src="../../../../../../assets/images/verify.svg" alt=""></span>
                            <span class="badge badge-xs badge-light-warning" *ngIf="item.eventStatusId==1 "  ><img src="../../../../../../assets/images/danger.svg" alt=""></span>
                            <span class="badge badge-xs badge-light-dark" style="background: #E1E6EF;" *ngIf="item.eventStatusId==3 " ><img src="../../../../../../assets/images/Close_MD.svg" alt=""></span>
                        </div> 
                    </div>
                    <p class="text-grey" style="margin-top: -12px;margin-bottom: 2px;">Venue: {{item.venuelist[0].venueName}}<a *ngIf="item.venuelist.length >1 ">, +{{item.venuelist.length-1}}</a> </p>
                    <p class="text-grey mt-1" style="margin-top: -12px;margin-bottom: 2px;">Event Date: <a >{{item.eventDate| date:'dd-MM-yyyy'}}</a> </p>
                </div>
                <div class="card-body bg-white"
                    style="border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;">
                    <div class="row">
                        <div class="col-6" style="border-right: 2px solid #E1E6EF ;">
                            <h6 style="color: #1D243365;">EVENT TYPE</h6>
                            <p style="font-size: 14px ; line-height: 22px;"> {{item.eventType?.eventTypeName?.length > 10 ? (item.eventType?.eventTypeName | slice:0:10) + '...' : item.eventType?.eventTypeName}}</p>
                        </div>
                        <div class="col-6 ">
                            <h6 style="color: #1D243365;">GUEST NAME</h6>
                            <p style="font-size: 14px ; line-height: 22px;"> {{item.guestName.length > 10 ? (item.guestName | slice:0:10) + '...' : item.guestName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="card-body">
    <ng-template #content let-modal>
        <div class="modal-header ">
            <h4 class="modal-title">Event Details  </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body" >
            <div class="row">

                <div class="col-xl-6" style="border-right: 1px solid #000;">
                    <div class="row">
                        <div class="col-lg-6">

                            <p class="text-primary">(Old Event Details)</p>
                        </div>
                       
                    </div>
                 
                  <div class="row mt-3" *ngIf="viewdails">
                      <div class="col-lg-6">
                          <p style="color:#1D243380;line-height: 0;">PERSON NAME</p>
                          <p style="line-height:0.5">{{viewdails.personName}}</p>
                      </div>
                      <div class="col-lg-6">
                          <p style="color:#1D243380;line-height: 0;">ENTRY DATE</p>
                          <p style="line-height:0.5">{{viewdails.createdDate|date:"dd-MM-yyyy"}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">EVENT DATE</p>
                          <p style="line-height:0.5">{{viewdails.eventDate |date:"dd-MM-yyyy"}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">GUEST NAME</p>
                          <p style="line-height:0.5">{{viewdails.guestName}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">TYPE OF EVENT</p>
                          <p style="line-height:0.5">{{viewdails.eventType?.eventTypeName}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">

                      </div>
                      <div class="col-lg-12 mt-3">
                          <p style="color:#1D243380;line-height: 0;">VENUE</p>
                          <div class="row" style="line-height:0.5">
                              <div class="col-3" *ngFor="let item of viewdails.venuelist">
                                  <p style="word-wrap: break-word;"><span class="badge" style="background-color: #FCF4EE; color:#B66623;">{{item.venueName}}</span></p>
                              </div>

                          </div>
                      </div>

                      <div class="col-lg-12 mt-3">
                          <p style="color:#1D243380;line-height: 0;">TIME OF EVENT</p>
                          <div class="row" style="line-height:0.5">
                              <div class="col-2" *ngFor="let item of viewdails.eventTimeIdslist">
                                  <p><span class="badge" style="background-color: #FCF4EE; color:#B66623;">{{item.eventTimeName}}</span></p>
                              </div>

                          </div>
                      </div>


                  </div>
                  <hr *ngIf="viewdails && activeTab!='all'">
                  <div class="row mt-3" *ngIf="viewdails && activeTab!='all'" >
                      <div class="col-lg-12 mt-3  " >
                          <p style="color:#1D243380;line-height: 0;">EVEMT STATUS</p>
                         
                          <p style="line-height:0.5" >{{viewdails.eventStatusName}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">BUMP IN</p>
                          <p style="line-height:0.5" >{{convertToIST(viewdails.bumpIN)  |date:'dd-MM-yyyy hh:mm a'}}</p>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <p style="color:#1D243380;line-height: 0;">BUMP OUT</p>
                            <p style="line-height:0.5" >{{convertToIST(viewdails.bumpOUT)|date:'dd-MM-yyyy hh:mm a'}}</p>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <p style="color:#1D243380;line-height: 0;">COMMENT</p>
                            <p style="line-height:0.5" >{{viewdails.comment}}</p>
                        </div>
                  </div>
                </div>
                <div class="col-xl-6" >
                    <div class="row">
                        <div class="col-lg-6">

                            <p class="text-primary">(Event Change Request)</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-end">

                                <button class="btn btn-xs btn-outline-primary" (click)="post(1,changedetails)" >Approve</button>&nbsp;
                                <button class="btn btn-xs btn-outline-danger"(click)="post(2,changedetails)">Decline</button>
                            </div>
                        </div>
                    </div>
                  <div class="row mt-3" *ngIf="changedetails">
                      <div class="col-lg-6">
                          <p style="color:#1D243380;line-height: 0;">PERSON NAME</p>
                          <p style="line-height:0.5">{{changedetails.personName}}</p>
                      </div>
                      <div class="col-lg-6">
                          <p style="color:#1D243380;line-height: 0;">ENTRY DATE</p>
                          <p style="line-height:0.5">{{changedetails.createdDate|date:"dd-MM-yyyy"}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">EVENT DATE</p>
                          <p style="line-height:0.5">{{changedetails.eventDate|date:"dd-MM-yyyy"}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">GUEST NAME</p>
                          <p style="line-height:0.5">{{changedetails.guestName}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">TYPE OF EVENT</p>
                          <p style="line-height:0.5">{{changedetails.eventType?.eventTypeName}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          
                      </div>
                      <div class="col-lg-12 mt-3">
                        <p style="color:#1D243380;line-height: 0;">VENUE</p>
                        <div class="row" style="line-height:0.5">
                          <div class="col-3" *ngFor="let item of changedetails.venuelist">
                            <p style="word-wrap: break-word;"><span class="badge" style="background-color: #FCF4EE; color:#B66623;">{{item.venueName}}</span></p>
                          </div>
                        </div>
                      </div>
                      
                      
                      
                      <div class="col-lg-12 mt-3">
                          <p style="color:#1D243380;line-height: 0;">TIME OF EVENT</p>
                          <div class="row" style="line-height:0.5">
                              <div class="col-2" *ngFor="let item of changedetails.eventTimeIdslist">
                                  <p><span class="badge" style="background-color: #FCF4EE; color:#B66623;">{{item.eventTimeName}}</span></p>
                              </div>
                             
                          </div>
                      </div>
      
                      
                  </div>
                  <hr *ngIf="changedetails && activeTab!='all'">
                  <div class="row mt-3" *ngIf="changedetails && activeTab!='all'" >
                      <div class="col-lg-12 mt-3  " >
                          <p style="color:#1D243380;line-height: 0;">EVEMT STATUS</p>

                          <p style="line-height:0.5" >{{changedetails.eventStatusName}}</p>
                      </div>
                      <div class="col-lg-6 mt-3">
                          <p style="color:#1D243380;line-height: 0;">BUMP IN</p>
                          <p style="line-height:0.5" >{{convertToIST(changedetails.bumpIN)|date:'dd-MM-yyyy hh:mm a'}}</p>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <p style="color:#1D243380;line-height: 0;">BUMP OUT</p>
                            <p style="line-height:0.5" >{{convertToIST(changedetails.bumpOUT)|date:'dd-MM-yyyy hh:mm a'}}</p>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <p style="color:#1D243380;line-height: 0;">COMMENT</p>
                            <p style="line-height:0.5" >{{changedetails.comment}}</p>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>