.checkbox-container {
    display: flex;
    
    align-items: center; /* Center vertically */
    max-height: 20px;
    overflow: hidden; /* Hide overflow content */
}

.checkbox-container div {
    display: flex;
    align-items: center; /* Center vertically */
}
