
<div class="container-fluid pt-3" *ngIf="showtab">
    <app-page-header title="Today's Events" subtitle="{{currentDate}}{{ count == null ? '' : ' &middot; ' + (count === 1 ? '1 booking' : count + ' bookings') }}">
        <button class="btn btn-sm btn-primary" (click)="adddailyquery()">Daily Query Entry</button>
    </app-page-header>

    <div class="row" *ngIf="todaysLoading">
        <div class="col-lg-12" *ngFor="let i of [1,2,3]">
            <div class="skeleton" style="height: 150px; border-radius: 20px; margin-bottom: 1rem;"></div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5 " *ngIf="!todaysLoading&&todaysqueriesdata==null">
        <img src="../../../../../../assets/images/no data.gif" alt="No Data" height="300" width="300" class="img-fluid">
      </div>
    <div class="row" *ngIf="!todaysLoading&&todaysqueriesdata" >
        <div class="col-lg-12" *ngFor="let item of todaysqueriesdata" >
            <app-event-card-detailed [item]="item" (cardClick)="onviewdeails(item, content)"></app-event-card-detailed>
        </div>
    </div>
</div>





<div class="card-body">
    <ng-template #content let-modal>
        <div class="modal-header ">
            <h4 class="modal-title">Event Details  </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body" >
            <app-event-detail [details]="viewdails" [showStatus]="true"></app-event-detail>
        </div>
    </ng-template>

</div>





<div class="container-fluid" *ngIf="!showtab" style="cursor:pointer">

    <app-addquery  ></app-addquery>
</div>