
<div *ngIf="showtab">
    <div class="row align-items-center" style="margin-top: 12px;">
        <div class="col-lg-6 text-start">
            <!-- <p><strong>Year 2024</strong></p> -->
        </div>
        <div class="col-lg-6">
            <ng-container *ngIf="count === 1; else bookingsText">
                <div class="d-flex align-items-center justify-content-end">
                    <p class="mt-3">{{ count }} Booking</p>&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary " (click)="adddailyquery()">Daily Query Entry</button>
                </div>
            </ng-container>
            <ng-template #bookingsText>
                <div *ngIf="count < 1; else noBookings">
                    <div class="d-flex align-items-center justify-content-end">
                        <p class="mt-3">{{ count }} Bookings</p>&nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary " (click)="adddailyquery()">Daily Query Entry</button>
                    </div>
                </div>
                <ng-template #noBookings>
                    <div class="d-flex align-items-center justify-content-end">
                        <p class="mt-3">No Bookings</p>&nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary " (click)="adddailyquery()">Daily Query Entry</button>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>



<div class="row" style="margin-top: 4px;">
    <p>Today : {{currentDate }}</p>

</div>
<div class="row" style="margin-top: -6px;" *ngIf="todaysLoading&&showtab">
    <div class="col-lg-12" *ngFor="let i of [1,2,3]">
        <div class="skeleton" style="height: 150px; border-radius: 20px; margin-bottom: 1rem;"></div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center mt-5 " *ngIf="!todaysLoading&&todaysqueriesdata==null&&showtab">
    <img src="../../../../../../assets/images/no data.gif" alt="No Data" height="300" width="300" class="img-fluid">
  </div>
<div class="row" style="margin-top: -6px;"*ngIf="!todaysLoading&&todaysqueriesdata&&showtab" >
    <div class="col-lg-12" *ngFor="let item of todaysqueriesdata" >
        <app-event-card-detailed [item]="item" (cardClick)="onviewdeails(item, content)"></app-event-card-detailed>
    </div>
  
</div>





<div class="card-body">
    <ng-template #content let-modal>
        <div class="modal-header ">
            <h4 class="modal-title">Event Details  </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body" >
            <div class="row mt-3" *ngIf="viewdails">
                <div class="col-lg-6">
                    <p style="color:#1D243380;line-height: 0;">PERSON NAME</p>
                    <p style="line-height:0.5">{{viewdails.personName}}</p>
                </div>
                <div class="col-lg-6">
                    <p style="color:#1D243380;line-height: 0;">ENTRY DATE</p>
                    <p style="line-height:0.5">{{viewdails.createdDate|date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col-lg-6 mt-3">
                    <p style="color:#1D243380;line-height: 0;">EVENT DATE</p>
                    <p style="line-height:0.5">{{viewdails.eventDate|date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col-lg-6 mt-3">
                    <p style="color:#1D243380;line-height: 0;">GUEST NAME</p>
                    <p style="line-height:0.5">{{viewdails.guestName}}</p>
                </div>
                <div class="col-lg-6 mt-3">
                    <p style="color:#1D243380;line-height: 0;">TYPE OF EVENT</p>
                    <p style="line-height:0.5">{{viewdails.eventType.eventTypeName}}</p>
                </div>
                <div class="col-lg-6 mt-3">
                    
                </div>
                <div class="col-lg-12 mt-3">
                    <p style="color:#1D243380;line-height: 0;">VENUE</p>
                    <div class="row" style="line-height:0.5">
                        <div class="col-2" *ngFor="let item of viewdails.venuelist">
                            <p><span class="badge" style="background-color: #EEF2FF; color:#4F46E5;">{{item.venueName}}</span></p>
                        </div>
                     
                    </div>
                </div>
                
                <div class="col-lg-12 mt-3">
                    <p style="color:#1D243380;line-height: 0;">TIME OF EVENT</p>
                    <div class="row" style="line-height:0.5">
                        <div class="col-2" *ngFor="let item of viewdails.eventTimeIdslist">
                            <p><span class="badge" style="background-color: #EEF2FF; color:#4F46E5;">{{item.eventTimeName}}</span></p>
                        </div>
                       
                    </div>
                </div>

                
            </div>
            <hr *ngIf="viewdails && activeTab!='all'">
            <div class="row mt-3" *ngIf="viewdails && activeTab!='all'" >
                <div class="col-lg-12 mt-3">
                    <p style="color:#1D243380;line-height: 0;">EVEMT STATUS</p>
                   
                    <p style="line-height:0.5" >{{viewdails.eventStatusName}}</p>
                </div>
               
                <div class="col-lg-6 mt-3">
                    <p style="color:#1D243380;line-height: 0;">BUMP IN</p>
                    <p style="line-height:0.5" >{{convertToIST(viewdails.bumpIN)|date:'dd-MM-yyyy hh:mm a'}}</p>
                </div>
                <div class="col-lg-6 mt-3">
                    <p style="color:#1D243380;line-height: 0;">BUMP OUT</p>
                    <p style="line-height:0.5" >{{convertToIST(viewdails.bumpOUT)|date:'dd-MM-yyyy hh:mm a'}}</p>
                </div>
                <div class="col-lg-12 mt-3">
                    <p style="color:#1D243380;line-height: 0;">COMMENT</p>
                    <p style="line-height:0.5" >{{viewdails.comment}}</p>
                </div>
            </div>
        </div>
    </ng-template>

</div>





<div class="container-fluid" *ngIf="!showtab" style="cursor:pointer">

    <app-addquery  ></app-addquery>
</div>